html,
body{ 
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app {
  border: 1px outset rgb(165, 165, 165);
  border-radius: 2px;
  background-color: rgb(138, 138, 138);
}

.head {
  height: 120px;
  flex: 0;
  display: flex;
  flex-direction: column;
}

.display {
  border: 2px dotted rgb(145, 145, 145);
  flex: 1;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#results {
  font-size: xx-large;
  margin: 8px;
}

.body {
  padding: 8px;
  flex: 0;
  display: flex;
  gap: 4px;
  background-color: inherit;
}

.numbers {
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
}
.operations{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

button {
  border: 1px dotted rgb(156, 156, 156);
  height: 60px;
  width: 60px;
  font-size: xx-large;
  border-radius: 2px;
  color: whitesmoke;
  background-color: inherit;
}
